#info-contact{
  background-color: #CFD5E1;
}

#about {
    margin: 5%;
    color: #7B7B7C;
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
}

ul.social-icons{
  list-style: none;
  padding: 0;
}

.social-icons li{
  display: inline-block;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
