#info-contact{
  background-color: #EAEAEA;
  margin-top: 1.5em;
}

#about {
  padding: 1.2em 1.4em;
  color: #7B7B7C;
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
}

#about h1{
  font-weight: 300;
}

#contact{
  display: flex;
  justify-content: center;
}

#gallery-about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gallery-about figure{
  position: relative;
  width: 33%;
  padding: 0;
  margin: 0;
}

#gallery-about img {
  -webkit-filter: grayscale(100%);
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul.social-icons{
  list-style: none;
  padding: 0;
  margin: 2% 0;
}

.social-icons li{
  display: inline-block;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
