@media screen and (max-width: 40.5em) {
  #wrapper {
    max-width: 100%;
  }

  nav, nav.dark {
    max-width: 100%;
  }

  .hero .box{
    width: auto;
  }

  .hero .box h1 {
    font-size: 2em;
    line-height: 1em;
  }

  .hero .box h2 {
    font-size: 0.8em;
  }

  #gallery {
    flex-direction: column;
  }

  #gallery a {
    width: 100%;
    margin: 0.8em auto 0;
  }
}

@media only screen and (max-device-width: 1024px) {
    .hero {
        background-attachment: scroll;
    }
}
